.feedback-form {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f8e530;

  &__title {
    font-family: "Montserrat-Black";
    font-size: 55px;
    letter-spacing: -5px;
    text-transform: uppercase;
    margin-top: 0;
    text-align: center;
  }
}

.contact {
  &__name {
    font-family: "Montserrat-Bold";
    font-size: 19px;
    color: #080808;
    text-transform: uppercase;
    display: inline-block;
  }
  &__text {
    font-family: "Montserrat-Regular";
    font-size: 16px;
    color: #080808;
    max-width: 300px;
    margin: 5px 0;
  }
}

.flex-form {
  display: flex;
  justify-content: space-around;
}
.flex-input {
}

.form {
}
.form textarea {
  background-color: #000000;
  width: 650px;
}
.form input {
  background-color: #000000;
}
